body {
  background: snow;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {

  bottom: 2em;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 2em;
  left: 2em;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid #2fc1c3;
  border-radius: 15px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
  height: 50px;
}

.message-content {
  flex: 8;
  background-color: #2fc1c3;
  color: white;
  border-radius: 15px;
}

.message-username {
  flex: 2;
  font-weight: 700;
  vertical-align: bottom;
}

.navbar {
  background: #2fc1c3;
  color: white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.usersOnline {
  color: white;
  float: right;
}

