body {
  background: snow;
  color: #435556;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}



.chatbar {
  bottom: 0px;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 2em;
  padding-left: 2em;
  background-color: snow;
}

.chatbar-message,
.chatbar-username {
  border: 0px solid #2fc1c3;
  border-radius: 15px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.17);
  user-select: none;
}

.chatbar-message:focus {
  outline-width: 0
}
.chatbar-username:focus {
  outline-width: 0
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.messages-container {
  /*bottom: 100px;*/
  margin-bottom: 100px;
  margin-right: 40px;
  margin-left: 10px;

}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  margin: 10px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 10px;
  padding: 0 10px;
  /*height: 50px;*/
}

.message-content {
  flex: 8;
  right: 50px;
  background-color: #4ba8aa;
  color: white;
  border-radius: 15px 15px 15px 2px;
  padding-top: 15px;
  padding-top: 15px;
  width: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}

.message-username {
  flex: 2;
  font-weight: 700;
  padding-top: 35px;
  padding-right: 0px;
  text-align: right;
}

.navbar {
  background: #2fc1c3;
  color: white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.usersOnline {
  color: white;
  float: right;
  display: block;
  margin-top: 20px;

}

